<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS + MySQL</title>

    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  </head>
  <body>

    {{{body}}}

  </body>
</html>