<main>

    {{!-- Forms --}}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                    <input class="form-control" type="text" name="nome" placeholder="Nome do produto">
                    <input class="form-control" type="number" name="valor" placeholder="Valor do produto">
                    <input class="form-control" name="imagem" type="file">
                    <input class="btn btn-primary" type="submit" value="Cadastrar">
                </form>
            </div>
        </div>
    </div>

</main>